@{
    ViewBag.Title = "About WAABS";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>
    WAABS is short for "Web Application for Assisting with the Buying and Selling of properties".
</p>
<p>
    WAABS is Ben Godby's (Student ID: F7935328 / OUCU: BG3684) TM470 Project.
</p>

<p>
    WAABS' aim is to make your life easier when buying and selling property.
</p>
<p>
    During the process you would normally have to contact many third-parties such as the Bank,
    Estate Agents, or your Solicitor for updates of how the process is going.
</p>
<p>
    Not anymore.
</p>
<p>
    With WAABS you can communicate with the household you are buying or selling the property as well as
    all the necessary third-parties in one app. This will make the process of buying and selling properties 
    much less stressful.
</p>
