@{
    ViewBag.Title = "Contact WAABS";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    WAABS - BG3684<br />
    Plymouth<br />
    07777777777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@waabs.com">Support@wabbs.com</a><br />
</address>